body {
  margin: 0;
  font-family: sans-serif;
  background-image: url('../public/cloud1.png'); 
  background-size: 100 px;       
  background-position: center;  
  background-repeat: no-repeat; 
  height: 100vh;
}


/* .main-content {
  background-color: #131c29; 
  min-height: calc(100vh - 80px);
  padding: 2rem;
} */
